<meta charset="UTF-8" />
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"
/>
<style>
  body {
    padding-top: 50px;
  }
</style>
