<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="bg-white rounded-lg">
                <div class="px-4 py-8 sm:px-10">
                    <div class="relative mt-6">
                        <div class="absolute inset-0 flex items-center">
                            <div class="w-full border-t border-gray-300"></div>
                        </div>
                        <div class="relative flex justify-center text-sm
                            leading-5">
                            <span class="px-2 text-gray-500 bg-white">
                                Reservation </span>
                        </div>
                    </div>
                    <div class="mt-6">
                        <div class="w-full space-y-6">
                            <div class="w-full space-y-6">
                                <div class="mt-4">
                                    <span class="text-gray-700 font-medium
                                        text-xl">Stopover</span>
                                    <div class="mt-2">
                                        <label class="inline-flex items-center">
                                            <input
                                                type="radio"
                                                class="form-radio"
                                                name="accountType"
                                                value="yes"
                                                />
                                            <span class="ml-2">yes</span>
                                        </label>
                                        <label class="inline-flex items-center
                                            ml-6">
                                            <input
                                                type="radio"
                                                class="form-radio"
                                                name="accountType"
                                                value="no"
                                                />
                                            <span class="ml-2">no</span>
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div date-rangepicker class="flex
                                        items-center">
                                        <div class="relative">
                                            <div class="absolute inset-y-0
                                                left-0 pl-3 flex items-center
                                                pointer-events-none">
                                                <svg class="w-5 h-5
                                                    text-gray-500
                                                    dark:text-gray-400"
                                                    fill="currentColor"
                                                    viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg"><path
                                                        fill-rule="evenodd"
                                                        d="M6 2a1 1 0 00-1
                                                        1v1H4a2 2 0 00-2 2v10a2
                                                        2 0 002 2h12a2 2 0
                                                        002-2V6a2 2 0
                                                        00-2-2h-1V3a1 1 0 10-2
                                                        0v1H7V3a1 1 0 00-1-1zm0
                                                        5a1 1 0 000 2h8a1 1 0
                                                        100-2H6z"
                                                        clip-rule="evenodd"></path></svg>
                                            </div>
                                            <input name="start" type="text"
                                                class="bg-gray-50 border
                                                border-gray-300 text-gray-900
                                                sm:text-sm rounded-lg
                                                focus:ring-blue-500
                                                focus:border-blue-500 block
                                                w-full pl-10 p-2.5
                                                dark:bg-gray-700
                                                dark:border-gray-600
                                                dark:placeholder-gray-400
                                                dark:text-white
                                                dark:focus:ring-blue-500
                                                dark:focus:border-blue-500"
                                                placeholder="Select date start">
                                        </div>
                                        <span class="mx-4 text-gray-500">to</span>
                                        <div class="relative">
                                            <div class="absolute inset-y-0
                                                left-0 pl-3 flex items-center
                                                pointer-events-none">
                                                <svg class="w-5 h-5
                                                    text-gray-500
                                                    dark:text-gray-400"
                                                    fill="currentColor"
                                                    viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg"><path
                                                        fill-rule="evenodd"
                                                        d="M6 2a1 1 0 00-1
                                                        1v1H4a2 2 0 00-2 2v10a2
                                                        2 0 002 2h12a2 2 0
                                                        002-2V6a2 2 0
                                                        00-2-2h-1V3a1 1 0 10-2
                                                        0v1H7V3a1 1 0 00-1-1zm0
                                                        5a1 1 0 000 2h8a1 1 0
                                                        100-2H6z"
                                                        clip-rule="evenodd"></path></svg>
                                            </div>
                                            <input name="end" type="text"
                                                class="bg-gray-50 border
                                                border-gray-300 text-gray-900
                                                sm:text-sm rounded-lg
                                                focus:ring-blue-500
                                                focus:border-blue-500 block
                                                w-full pl-10 p-2.5
                                                dark:bg-gray-700
                                                dark:border-gray-600
                                                dark:placeholder-gray-400
                                                dark:text-white
                                                dark:focus:ring-blue-500
                                                dark:focus:border-blue-500"
                                                placeholder="Select date end">
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <label class="text-gray-700" for="animals">
                                        <span class="font-medium text-xl">
                                            Pick Plan
                                        </span>
                                        <select
                                            id="filght"
                                            class="select
                                            block
                                            w-full
                                            py-2
                                            px-3
                                            border border-gray-300
                                            bg-white
                                            rounded-md
                                            shadow-sm
                                            focus:outline-none
                                            focus:ring-primary-500
                                            focus:border-primary-500"
                                            name="flight">
                                            <option value="">Select an option</option>
                                        </select>
                                    </label>
                                </div>

                                <div>
                                    <span class="block w-full rounded-md
                                        shadow-sm">
                                        <button
                                            type="button"
                                            class="search
                                            py-2
                                            px-4
                                            bg-indigo-600
                                            hover:bg-indigo-700
                                            focus:ring-indigo-500
                                            focus:ring-offset-indigo-200
                                            text-white
                                            w-full
                                            transition
                                            ease-in
                                            duration-200
                                            text-center text-base
                                            font-semibold
                                            shadow-md
                                            focus:outline-none focus:ring-2
                                            focus:ring-offset-2
                                            rounded-lg">
                                            Search
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-6 border-t-2 border-gray-200 bg-gray-50
                        sm:px-10">
                        <p class="text-xs leading-5 text-gray-500 text-center
                            selected">
                            confirm to enter your credential
                        </p>
                        <ul class="html"></ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- user form  -->

        <div class="divv mt-20">
            <form class="form">
                <div class="grid grid-cols-2 gap-4 w-full mb-10">
                    <!-- set seats -->
                    <div class="flex flex-col">
                        <label for=""> Selected flight </label>
                        <div class="flex">
                            <span class="inline-flex items-center px-3
                                rounded-l-md
                                border border-r-0 border-gray-300 bg-gray-200
                                text-gray-900 sm:text-sm">
                                @
                            </span>
                            <input type="text" id="phone" name="phone"
                                class="rounded-none rounded-r-lg bg-gray-50
                                border
                                border-gray-300 text-gray-900
                                focus:ring-blue-500
                                focus:border-blue-500 block flex-1 min-w-0
                                w-full
                                sm:text-sm border-gray-300 p-2.5 flight"
                                placeholder="enter Your phone number">
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label for=""> Number of seats </label>
                        <div class="flex">
                            <span class="inline-flex items-center px-3
                                rounded-l-md
                                border border-r-0 border-gray-300 bg-gray-200
                                text-gray-900 sm:text-sm">
                                @
                            </span>
                            <input type="text" id="phone"
                                class="rounded-none rounded-r-lg bg-gray-50
                                border
                                border-gray-300 text-gray-900
                                focus:ring-blue-500
                                focus:border-blue-500 block flex-1 min-w-0
                                w-full
                                sm:text-sm border-gray-300 p-2.5"
                                placeholder="enter Your phone number">
                        </div>
                    </div>
                </div>

                <!-- credentials  section -->
                <div class="grid gap-4">





                    <div>

                        <label for="name" class="text-sm font-medium
                            text-gray-900 block mb-2">Name</label>
                        <div class="flex">
                            <span class="inline-flex items-center px-3
                                rounded-l-md
                                border border-r-0 border-gray-300 bg-gray-200
                                text-gray-900 sm:text-sm">
                                @
                            </span>
                            <input type="text" id="name"
                                class="rounded-none rounded-r-lg bg-gray-50
                                border
                                border-gray-300 text-gray-900
                                focus:ring-blue-500
                                focus:border-blue-500 block flex-1 min-w-0
                                w-full
                                sm:text-sm border-gray-300 p-2.5"
                                placeholder="enter Your Name">
                        </div>
                    </div>
                    <div>

                        <label for="name" class="text-sm font-medium
                            text-gray-900 block mb-2">Email</label>
                        <div class="flex">
                            <span class="inline-flex items-center px-3
                                rounded-l-md
                                border border-r-0 border-gray-300 bg-gray-200
                                text-gray-900 sm:text-sm">
                                @
                            </span>
                            <input type="text" id="name"
                                class="rounded-none rounded-r-lg bg-gray-50
                                border
                                border-gray-300 text-gray-900
                                focus:ring-blue-500
                                focus:border-blue-500 block flex-1 min-w-0
                                w-full
                                sm:text-sm border-gray-300 p-2.5"
                                placeholder="enter your Email">
                        </div>
                    </div>
                    <div>

                        <label for="phone" class="text-sm font-medium
                            text-gray-900 block mb-2">phone</label>
                        <div class="flex">
                            <span class="inline-flex items-center px-3
                                rounded-l-md
                                border border-r-0 border-gray-300 bg-gray-200
                                text-gray-900 sm:text-sm">
                                @
                            </span>
                            <input type="text" id="phone"
                                class="rounded-none rounded-r-lg bg-gray-50
                                border
                                border-gray-300 text-gray-900
                                focus:ring-blue-500
                                focus:border-blue-500 block flex-1 min-w-0
                                w-full
                                sm:text-sm border-gray-300 p-2.5"
                                placeholder="enter Your phone number">
                        </div>
                    </div>
                </div>
                <button >dasd</button>
            </form>

        </div>
    </div>

    <script>
    const select = document.querySelector(".select");
    const selected = document.querySelector(".selected");
    const flight = document.querySelector(".flight");
    const divv = document.querySelector(".divv");
    const form = document.querySelector(".form")
    const search = document.querySelector(".search");
    fetch("http://localhost:5000/api/plans")
      .then((response) => response.json())
      .then((data) =>
        data.map((el) => {
          select.innerHTML += `<option class="option" value="${el.id}">${el.planName}</option>`;
        })
      );

    search.addEventListener("click", (e) => {
      fetch(`http://localhost:5000/api/plan/${select.value}`)
        .then((response) => response.json())
        .then((data) => (flight.value = data.planName))
        .then(() => divv.classList.remove("hidden"));
    });

    form.addEventListener("submit"  , e => {
        console.log(form.phone.value);
    })
  </script>
    <script
        src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/datepicker.bundle.js"></script>
</div>
