<div class="h-full">
  <!-- select flight form -->
  <%- include('./forms/selectFlightForm.ejs'); %>

  <!-- user form  -->

</div>

<script>
 

  // const flight = document.querySelector(".flight");
 

  // const form = document.querySelector(".form");



  // form.addEventListener("submit", (e) => {
  //   e.preventDefault();
  //   console.log(form.phone.value);
  //   console.log(form.name.value);
  //   console.log(form.email.value);
  //   console.log(form.seats.value);
  //   console.log(form.flight.value);
  //   console.log(form.start.value);
  // });
</script>
<!-- <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/datepicker.bundle.js"></script> -->
