<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="container">
      <%- include('../components/reservation/forms/adminForm.ejs'); %>
    </main>
  </body>
</html>
