<div class="divv mt-20">
    <form class="form">
        <div class="grid grid-cols-2 gap-4 w-full mb-10">
            <!-- set seats -->
            <div class="flex flex-col">
                <label for=""> Selected flight </label>
                <div class="flex">
                    <span class="inline-flex items-center px-3
                        rounded-l-md
                        border border-r-0 border-gray-300 bg-gray-200
                        text-gray-900 sm:text-sm">
                        @
                    </span>
                    <input type="text" name="flight" 
                        class="rounded-none rounded-r-lg bg-gray-50
                        border
                        border-gray-300 text-gray-900
                        focus:ring-blue-500
                        focus:border-blue-500 block flex-1 min-w-0
                        w-full
                        sm:text-sm border-gray-300 p-2.5 flight">
                </div>
            </div>
            <div class="flex flex-col">
                <label for="seats"> Number of seats </label>
                <div class="flex">
                    <span class="inline-flex items-center px-3
                        rounded-l-md
                        border border-r-0 border-gray-300 bg-gray-200
                        text-gray-900 sm:text-sm">
                        @
                    </span>
                    <input type="number" id="seats" name="seats"
                        class="rounded-none rounded-r-lg bg-gray-50
                        border
                        border-gray-300 text-gray-900
                        focus:ring-blue-500
                        focus:border-blue-500 block flex-1 min-w-0
                        w-full
                        sm:text-sm border-gray-300 p-2.5">
                </div>
            </div>
        </div>

        <!-- credentials  section -->
        <div class="grid gap-4">





            <div>

                <label for="name" class="text-sm font-medium
                    text-gray-900 block mb-2">Name</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3
                        rounded-l-md
                        border border-r-0 border-gray-300 bg-gray-200
                        text-gray-900 sm:text-sm">
                        @
                    </span>
                    <input type="text" id="name" name="name"
                        class="rounded-none rounded-r-lg bg-gray-50
                        border
                        border-gray-300 text-gray-900
                        focus:ring-blue-500
                        focus:border-blue-500 block flex-1 min-w-0
                        w-full
                        sm:text-sm border-gray-300 p-2.5"
                        placeholder="enter Your Name">
                </div>
            </div>
            <div>

                <label for="name" class="text-sm font-medium
                    text-gray-900 block mb-2">Email</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3
                        rounded-l-md
                        border border-r-0 border-gray-300 bg-gray-200
                        text-gray-900 sm:text-sm">
                        @
                    </span>
                    <input type="email" id="email" name="email"
                        class="rounded-none rounded-r-lg bg-gray-50
                        border
                        border-gray-300 text-gray-900
                        focus:ring-blue-500
                        focus:border-blue-500 block flex-1 min-w-0
                        w-full
                        sm:text-sm border-gray-300 p-2.5"
                        placeholder="enter your Email">
                </div>
            </div>
            <div>

                <label for="phone" class="text-sm font-medium
                    text-gray-900 block mb-2">phone</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3
                        rounded-l-md
                        border border-r-0 border-gray-300 bg-gray-200
                        text-gray-900 sm:text-sm">
                        @
                    </span>
                    <input type="number" id="phone" name="phone"
                        class="rounded-none rounded-r-lg bg-gray-50
                        border
                        border-gray-300 text-gray-900
                        focus:ring-blue-500
                        focus:border-blue-500 block flex-1 min-w-0
                        w-full
                        sm:text-sm border-gray-300 p-2.5"
                        placeholder="enter Your phone number">
                </div>
            </div>
        </div>
        <button type="submit" class="">Fgg </button>
    </form>

</div>