<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head.ejs'); %>
</head>

<body>
    <%- include('../../components/GadminDashb.ejs'); %>
</body>
<script src="../../../js/GAdmin/CAdminTable.js"></script>
</html>