<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs'); %>
</head>

<body>
    <%- include('../../partials/headerGA.ejs') %>
    <header class="bg-white shadow">
        <div class="flex justify-between py-6 px-4 sm:px-6 lg:px-8">
          <div class="text-3xl font-bold text-gray-900">
            Statistics
          </div>
        </div>
      </header>
    <div>
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 mt-10 ">
            <div class="mb-4 flex items-center justify-between">
                <div>
                    <h3 class="text-xl font-bold text-gray-900 mb-2">Latest Actions</h3>
                </div>
                <div class="flex-shrink-0">
                    <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2 download">Download</a>
                </div>
            </div>
            <div class="flex flex-col mt-8">
                <div class="overflow-x-auto rounded-lg">
                    <div class="align-middle inline-block min-w-full">
                        <div class="shadow overflow-hidden sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Promotion amount
                                        </th>
                                        <th scope="col"
                                            class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            chef Rayon
                                        </th>
                                        <th scope="col"
                                            class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Product
                                        </th>
                                        <th scope="col"
                                            class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            rayon
                                        </th>
                                        <th scope="col"
                                            class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Approved at
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white tbodyLog">
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" p-4">
        <div class="mb-4 flex items-center justify-between p-6">
            <div>
                <h3 class="text-xl font-bold text-gray-900 mb-2">Statistics</h3>
            </div>
       
        </div>
        <div class="flex justify-center gap-[25em] mt-10 ">
            <div class="w-[32em]">
                <canvas id="myChartPie" class="" width="400" height="400"></canvas>
            </div>
            <div class="w-[32em]">
                <canvas id="myChartBar" class="" width="400" height="400"></canvas>
            </div>


        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="../../../js/GAdmin/PieChart.js"></script>
<script src="../../../js/GAdmin/lineBarChart.js"></script>
<script src="../../../js/GAdmin/logs.js"></script>

</html>