<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs'); %>
</head>

<body>
    <%- include('../../partials/headerGA.ejs') %>
<div class="flex justify-center gap-[25em]">

    <div class="w-[32em]">
        <canvas id="myChartPie" class="" width="400" height="400"></canvas>
    </div>
    <div class="w-[32em]">
        <canvas id="myChartBar" class="" width="400" height="400"></canvas>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="../../../js/GAdmin/PieChart.js">

</script>
<script src="../../../js/GAdmin/lineBarChart.js">

</script>
<script>

</script>

</html>