<div class="grid grid-cols-3 h-full">
  <div class="bg-white rounded-lg col-span-2">
    <div class="sm:px-10 h-full flex flex-col justify-between">
      <div class="flex flex-col gap-[4em]">
        <div class="relative mt-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm leading-5">
            <span class="px-2 text-gray-500 bg-white">Explore</span>
          </div>
        </div>
        <div class="w-full space-y-6">
          <form class="timeForm">
            <!-- select date -->
            <div class="mb-4 flex gap-6">
              <div class="md:ml-2 w-full">
                <label class="block mb-2 text-sm font-bold text-gray-700">
                  Departure Day from
                </label>
                <input class="selectFrom
                  w-full
                  px-3
                  py-2
                  mb-3
                  text-sm
                  leading-tight
                  text-gray-700
                  border
                  rounded
                  cursor-pointer
                  appearance-none
                  focus:outline-none focus:ring-2" type="date" name="departure_date" />
              </div>
              <div class="md:ml-2 w-full">
                <label class="block mb-2 text-sm font-bold text-gray-700">
                  to
                </label>
                <input class="selectFrom
                  w-full
                  px-3
                  py-2
                  mb-3
                  text-sm
                  leading-tight
                  text-gray-700
                  border
                  rounded
                  cursor-pointer
                  appearance-none
                  focus:outline-none focus:ring-2" type="date" name="arrival_date" />
              </div>
            </div>
            <!-- select time  -->
            <!-- <div class="mb-4 flex gap-6">
              <div class="md:ml-2 w-full">
                <label class="block mb-2 text-sm font-bold text-gray-700">
                  Departure time from
                </label>
                <input class="selectFrom
                  w-full
                  px-3
                  py-2
                  mb-3
                  text-sm
                  leading-tight
                  text-gray-700
                  border
                  rounded
                  cursor-pointer
                  appearance-none
                  focus:outline-none focus:ring-2" type="time" name="departure_time" />
              </div>
              <div class="md:ml-2 w-full">
                <label class="block mb-2 text-sm font-bold text-gray-700">
                  to
                </label>
                <input class="selectFrom
                  w-full
                  px-3
                  py-2
                  mb-3
                  text-sm
                  leading-tight
                  text-gray-700
                  border
                  rounded
                  cursor-pointer
                  appearance-none
                  focus:outline-none focus:ring-2" type="time" name="arrival_time" />
              </div>
            </div> -->

            <!-- set stopover  -->
            <div class="mb-4 flex gap-6">
              <div class="md:ml-2 block text-md font-bold text-gray-700 my-[1em]">
                stop over
              </div>
              <div class="flex gap-6">
                <div class="md:ml-2 flex items-center gap-2">
                  <label class="block text-sm font-bold text-gray-700">
                    Yes
                  </label>
                  <input class="" type="radio" name="stopover" value="true" />
                </div>
                <div class="md:ml-2 flex items-center gap-2">
                  <label class="block text-sm font-bold text-gray-700">
                    No
                  </label>
                  <input class="form-radio" type="radio" name="stopover" value="false" />
                </div>
              </div>
            </div>

            <div class="md:ml-2 w-full">
              <label class="block mb-2 text-sm font-bold text-gray-700">
                Seats
              </label>
              <input class="seats
                w-full
                px-3
                py-2
                mb-3
                text-sm
                leading-tight
                text-gray-700
                border
                rounded
                cursor-pointer
                appearance-none
                focus:outline-none focus:ring-2" type="number" name="seats" max="20" />
            </div>
          </form>
          <!-- select direction -->
          <div class="mb-4 flex gap-6">
            <div class="md:ml-2 w-full">
              <label class="block mb-2 text-sm font-bold text-gray-700">
                where From ?
              </label>
              <select class="select
                w-full
                px-3
                py-2
                mb-3
                text-sm
                leading-tight
                text-gray-700
                border
                rounded
                cursor-pointer
                appearance-none
                focus:outline-none focus:ring-2" value="">
                <option value="safi">safi</option>
                <option value="tanger">tanger</option>
                <option value="essaouira">essaouira</option>
              </select>
            </div>

            <div class="md:ml-2 w-full">
              <label class="block mb-2 text-sm font-bold text-gray-700">
                where To ?
              </label>
              <select class="selectTo
                w-full
                px-3
                py-2
                mb-3
                text-sm
                leading-tight
                text-gray-700
                border
                rounded
                cursor-pointer
                appearance-none
                focus:outline-none focus:ring-2" value="">
                <option value="rabat">rabat</option>
                <option value="casablanca">casablanca</option>
                <option value="marrakech">marrakech</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- search btn -->
      <div class="px-4 py-6 bg-gray-50 rounded-md sm:px-10">
        <!-- search btn -->
        <div>
          <span class="block w-full rounded-md cursor-pointer-sm">
            <button type="button" class="search
              py-2
              px-4
              bg-indigo-600
              hover:bg-indigo-700
              focus:ring-indigo-500 focus:ring-offset-indigo-200
              text-white
              w-full
              transition
              ease-in
              duration-200
              text-center text-base
              font-semibold
              cursor-pointer-md
              focus:outline-none focus:ring-2 focus:ring-offset-2
              rounded-lg">
              Search
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- flight info template -->
  <form class="mr-3 col-span-1 bg-gray-50 p-4 rounded-md flight overflow-auto"></form>
  <!-- not found toast  -->
</div>
<div class="p-2 toast hidden">
  <div class="fixed
    top-0
    inset-x-0
    mx-auto
    max-w-max
    mt-10
    inline-flex
    items-center
    bg-zinc-700
    leading-none
    text-white
    rounded-full
    p-2
    shadow
    text-teal text-sm">
    <span class="inline-flex
      bg-red-600
      text-white
      rounded-full
      h-6
      px-3
      justify-center
      items-center">Oops!</span>
    <span class="inline-flex px-2">Flight are not currently available for the
      date/time requested</span>
  </div>
</div>
<script>
  const search = document.querySelector(".search");
  const selected = document.querySelector(".selected");
  const timeForm = document.querySelector(".timeForm");
  const element = document.querySelector(".click");
  const selectFrom = document.querySelector(".select");
  const selectTo = document.querySelector(".selectTo");
  const seatsInput = document.querySelector(".seats");
  const toast = document.querySelector(".toast");


  // handle date and time  
  const date = new Date();
  const addZero = (i) => {
    if (i < 10) {
      i = "0" + i
    }
    return i;
  }
  timeForm.departure_date.value = date.toISOString().substring(0, 10);

  // timeForm.departure_time.value = addZero(date.getHours()) + ':' + addZero(date.getMinutes());

  timeForm.departure_date.setAttribute('min', date.toISOString().substring(0, 10));
  
  timeForm.arrival_date.setAttribute('min', date.toISOString().substring(0, 10));

  timeForm.arrival_date.value = addZero(date.getFullYear()) + '-' + addZero(date.getMonth() + 1) + '-' + addZero(date.getDate() + 1);


  seatsInput.addEventListener('input', e => {
    let max = parseInt(seatsInput.max);
    if (parseInt(seatsInput.value) > max) {
      seatsInput.value = max;
    }
  })

  // store the selected flight in session storage and redirect
  const flight = document.querySelector(".flight");
  flight.addEventListener("click", (e) => {
    if (e.target.classList.contains("click")) {
      sessionStorage.setItem("selectedFlight", JSON.stringify(e.target.id));
      sessionStorage.setItem("flightSeats", JSON.stringify(e.target.name));
      sessionStorage.setItem("seats", JSON.stringify(seatsInput.value));
      window.location.replace("/confirm");
    }
  });

  // get the wanted flight
  search.addEventListener("click", (e) => {
    e.preventDefault();
    flight.innerHTML = ``;

    // console.log(seatsInput.value);
    fetch("http://localhost:5000/api/plans")
      .then((response) => response.json())
      .then((data) => {
        // filter array
        const matchedFlight = data.filter(
          (el) =>
          el.stopover == timeForm.stopover.value &&
          parseInt(seatsInput.value) <= parseInt(el.seats) &&
          el.departure_date >= timeForm.departure_date.value &&
          el.departure_date <= timeForm.arrival_date.value 
        // &&  el.departure_time >= timeForm.departure_time.value &&
        //   el.departure_time <= timeForm.arrival_time.value &&
         && el.from === selectFrom.value &&
          el.where === selectTo.value
        );
        // console.log(matchedFlight);
        if (matchedFlight.length > 0) {
          matchedFlight.map((el) => {
            toast.classList.add("hidden");
            flight.innerHTML += `
              <div
      class="
        w-full
        bg-white
        h-auto
        tracking-wide
        border border-black-800
        rounded-lg
        relative
        mt-2
      "
    >
      <div>
        <div class="w-1 h-10 bg-blue-600 absolute rounded-tl-md"></div>
        <div
          class="
            flex
            items-center
            px-3
            py-3
            justify-between
            bg-indigo-100
            rounded-md
          "
        >
        <div class="flex gap-2 bg-indigo-200 text-indigo-800 px-2 py-2 rounded-md">
          
          <div><%- include('../icons/user.ejs'); %></div>
            <div class="text-md font-medium">${el.seats}</div>
        </div>
          <div class="flex gap-6">
            <div class="font-bold">${el.from}</div>
            <div><%- include('../icons/rightArrow.ejs'); %></div>
            <div class="font-bold">${el.where}</div>
          </div>

          ${
            el.stopover == "true"
              ? `
          <div class="px-3 bg-red-200 rounded-md text-sm text-red-800">
            stop-over
          </div>
          `
              : `
          <div class="px-3 bg-green-200 rounded-md text-sm text-green-800">
            non-stop
          </div>
          `
          }
        </div>

        <div class="flex justify-between items-center pr-5 py-3">
          <div class="flex gap-6 pl-5 items-center">
            <div><%- include('../icons/clock.ejs'); %></div>

            <div>
              <div>${el.departure_date}</div>
              <div class="font-bold text-sm">${el.departure_time}</div>
            </div>

            <div><%- include('../icons/dots.ejs'); %></div>

            <div>
              <div>${el.arrival_date}</div>
              <div class="font-bold text-sm">${el.arrival_time}</div>
            </div>
          </div>
       
        <div class="">
          <input
          class="
              click
              text-indigo-500
              border-indigo-600 border-[2px]
              p-1
              rounded-md
              w-[5em]
              text-center
              cursor-pointer
              hover:bg-indigo-600 hover:text-white
            "
            type="button"
            value="select"
            id="${el.id}"
            name="${el.seats}"
            

            />
            
        </div>
      </div>
    </div>
              `;
          });
        } else {
          toast.classList.remove("hidden");
          setTimeout(() => {
            toast.classList.add("hidden");
          }, 2000);
        }
      });
  });
</script>
<style>
  .toast {
    animation: toast 0.3s forwards;
  }

  @keyframes toast {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>