<div>
    <input type="text" class="percentage">
    <select name="" id="" value="">
        <option value="electronic">electronic</option>
        <option value="multimedia">multimedia</option>
        <option value="multimedia">multimedia</option>
    </select>
</div>